<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello World</title>
</head>
<body>
<%- include /src/html-templates/header %> 
<div class="content">
  <h2>This is index.ejs  <%- include resources/img/lego-base.svg %></h2>
</div>
<%- include /src/html-templates/footer %> 
</body>
</html>